# Standard java stuff:
*.class
*.jar
*.war
*.ear

# Eclipse dirs:
RemoteSystemsTempFiles
target/
#.settings
#.metadata
# TODO - should these be ignored too?
#.project
#.classpath

# (Mike's slickedit project files):
*.vpwhistu
*.vtg

